@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans&display=swap");

$light_grey: #f5f5f6;
$light_blue: #becad6;
$dark_grayish_blue: #9c9ea2;
$dark_violet: #141217;
$grey: #575861;
$dark_gray: #3e3e40;
$grayish_blue: #b6aed4;
$coral: #b56a77;
$deep_blue: #3e44cb;
$aquamarine: #76cfe3;
$font: "Dongle", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: $light_grey;
  font-family: $font;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin rounded-border {
  border-radius: 4px;
  border: 1px solid $light_blue;
}
@mixin hover-fade($opacity: 0.6) {
  opacity: 1;
  transition: opacity 0.5s ease-out;
  &:hover {
    color: $dark_violet;
    @if &opacity != 0.6 {
      opacity: $opacity;
    }
  }
}
