.success {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border: 1px solid green;
  background-color: greenyellow;
}
.error {
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border: 1px solid red;
  background-color: rgb(204, 70, 70);
}
