@import "../../index.scss";

.success {
  @include rounded-border();
  min-width: 260px;
  text-align: center;
  font-size: 1.3em;
  border: 1px solid green;
  background-color: rgba(169, 235, 70, 0.7);
}
.error {
  @include rounded-border();
  min-width: 260px;
  font-size: 1.3em;
  text-align: center;
  border: 1px solid red;
  background-color: rgba(224, 104, 104, 0.7);
}
