@mixin image-container($width: 0, $height: 0) {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  @if $width != 0 {
    max-width: $width;
  } @else if $height != 0 {
    max-height: $height;
  }
}

.imageContainer {
  @include image-container();
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: 1000px) {
    & img {
      max-width: 500px;
    }
  }
  @media screen and (max-width: 750px) {
    & img {
      max-width: 300px;
    }
  }
}
